.contact-title {
    display: flex; 
    width: 100%;
}

#contact-now {
    display: flex; 
    color: rgb(30, 30, 30);
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.contact-describe {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#contact-mail-address {
    display: flex; 
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 0px;
    font-size: 35px;
    color: rgb(30, 30, 30);
}

#contact-mail-address-add {
    display: flex; 
    justify-content: center;
    margin-top: 0px;
    font-size: 25px;
    color: rgb(30, 30, 30);
}


#contact-about-title {
    display: flex; 
    margin-top: 50px;
    color:  #ef86a1;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#contact-about-sub-title {
    display: flex; 
    color:  rgb(30, 30, 30);
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


@media screen and (max-width: 480px) {
    #contact-now {
        font-size: 28px;
    }

    .contact-describe {
        width: 92%;
        margin: 0 4%;
    }

    #contact-mail-address{
        font-size: 28px;
    }

    #contact-mail-address-add {
        font-size: 20px;
    }
}
